<mat-card>
    <mat-card-title style="text-align: center;"><h2>Org Type Admin</h2></mat-card-title>
    <div class="mat-elevation-z8">
        <table id="table1" mat-table [dataSource]="OTData">
            <ng-container matColumnDef="OrgTypeCode">
            <th mat-header-cell *matHeaderCellDef style="width: 5%;">Code </th>
            <td mat-cell *matCellDef="let element"> {{ element.OrgType }} </td>
            </ng-container>
    
            <!-- Name -->
            <ng-container matColumnDef="OrgTypeName">
            <th mat-header-cell *matHeaderCellDef style="width: 20%;">Name</th>
            <td mat-cell *matCellDef="let element"> {{ element.OrgTypeName }} </td>
            </ng-container>
    
            <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef style="width: 5%;">Delete?</th>
                <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="deleteOT(element)">Delete</button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="OTColumns"></tr>
            <tr mat-row class="table-row" *matRowDef="let row; columns: OTColumns;"
                        (click)="selectedOT = row"
                        [ngClass]="{'selectedrow': row === selectedOT}">
            </tr>
        </table>
        <br>
     </div>
    <br>
    <td><button mat-button class="mat-elevation-z8" (click)="addOrgType()"
        style="background-color: white; font-size: 16px; margin:5px;">New Org Type</button>
    </td>
</mat-card>
