<mat-card class="mat-elevation-z8">

    <mat-card-title style="text-align: center;"><h2>{{ description }}</h2></mat-card-title>

    <div>
        <table style="width: 100%;">
            <tr>
                <td>
                    <mat-label>Proposal Writer</mat-label>
                </td>
                <td>
                    <mat-form-field appearance="standard" >
                        <mat-select  (selectionChange)="selectPW($event)">
                            <mat-option *ngFor="let User_models of User_models" [value]="User_models.id">
                                {{User_models.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </div>
    
    <mat-label>Fund Providers</mat-label>
    <div class="table-responsive" style="height: 180px;">
        <table id="fundp" mat-table [dataSource]="FundProviderData">
            <ng-container matColumnDef="FundProviderCode">
                <th mat-header-cell *matHeaderCellDef style="width: 10%;">Code </th>
                <td mat-cell *matCellDef="let element"> {{ element.FundProviderCode }} </td>
            </ng-container>
        
            <ng-container matColumnDef="FundProviderName">
                <th mat-header-cell *matHeaderCellDef style="width: 50%;">Fund Provider Name</th>
                <td mat-cell *matCellDef="let element"> {{ element.FundProviderName }} </td>
            </ng-container>
            <tr mat-row class="table-row" *matRowDef="let row; columns: FundProviderColumns;"
                (click)="selectFundProvider(row)"
                [ngClass]="{'selectedrow': row === fundProviderRow}">
            </tr>
        </table>
    </div>

<br>
    <div style="text-align: center;">
        <button style="margin:5px;" class="mat-raised-button"(click)="b1click()">Assign</button>
        <button style="margin:5px;" class="mat-raised-button mat-primary"(click)="b2click()">Cancel</button>
    </div>
</mat-card>
