<mat-card class="mat-elevation-z8">

    <mat-card-title style="text-align: center;"><h2>{{ title }}</h2></mat-card-title>

    <mat-dialog-content style="text-align: center;">
        <h3>{{ description }}</h3>
    </mat-dialog-content>
    <br>
    <div style="width:100%;">
        <table>
            <tr>
                <td style="width: 30%;">
                    <mat-label>Proposal Writer</mat-label>
                </td>
                <td>
                    <mat-select  (selectionChange)="selectPW($event)">
                        <mat-option *ngFor="let User_models of User_models" [value]="User_models.id">
                            {{User_models.name}}
                        </mat-option>
                    </mat-select>
                </td>
            </tr>
            <br>
            <tr>
                <td>
                    <mat-label>Fund Provider</mat-label>
                </td>
                <td>
                    <mat-select  (selectionChange)="selectFP($event)">
                        <mat-option *ngFor="let FundProvider_models of FundProvider_models" [value]="FundProvider_models.FundProviderCode">
                            {{FundProvider_models.FundProviderName}}
                        </mat-option>
                    </mat-select>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div style="text-align: center;">
        <button style="margin:5px;" class="mat-raised-button"(click)="b1click()">Assign</button>
        <button style="margin:5px;" class="mat-raised-button mat-primary"(click)="b2click()">Cancel</button>
    </div>
</mat-card>
