<mat-card class="mat-elevation-z8">
<mat-card-title style="text-align: center;"><h3><b>{{ title }}</b></h3></mat-card-title>

<mat-dialog-content style="text-align: center;">
    <h4>{{ description }}</h4>
</mat-dialog-content>

<br>

<div style="text-align: center;">
    <button style="margin:5px;" class="mat-raised-button"(click)="b1click()">{{ button1 }}</button>
    <button *ngIf="this.isBtn2Visible" style="margin:5px;" class="mat-raised-button mat-primary"(click)="b2click()">{{ button2 }}</button>
</div>
</mat-card>
