<mat-card  [style.background]="'var(--tilecolour2)'">
    <mat-grid-list cols="8" rowHeight="50px" gutterSize="5px"  [style.background]="'white'">
      <mat-grid-tile [colspan]=8 [rowspan]=1><h1 style="color: var(--tiletxtcol2)">Features</h1></mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1></mat-grid-tile>
      <mat-grid-tile [colspan]=6 [rowspan]=2>
        <h2 style="text-align: center;color: var(--tiletxtcol2);">
          Lastly, we also provide other chargeable services such as, project development, policy development and one to one or group consultation sessions.
        </h2>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1></mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  