<mat-card>
    <h1 style="text-align: center;font-size: 40px;">Applications</h1>
    
    <div class="mat-elevation-z8">
        <br>
        <h2 style="text-align: center;font-size: 32px;">To apply you should have:</h2>
        <table>
            <tr style="text-align: left;">
                <td style="width: 30%;"></td>
                <td>
                    <ul style="list-style-type:disc;font-size: 20px;">
                        <li>An overview of your existing project and/or a clear idea why you want to set up this project</li>
                        <li>Understanding of what activities you will need to deliver to meet your aims and objectives</li>
                        <li>A management committee of at least 3 people (chair, secretary, treasurer)</li>
                        <li>Ideally a name for your project</li>
                        <li>A constitution</li>
                        <li>Minutes of committee or group meetings</li>
                        <li>An organisation bank/building society account</li>
                    </ul>
                </td>
            </tr>
        </table>
        <h2 style="text-align: center;">If you do not yet have all of the above in place, then don’t worry. Please contact us as we may be able to assist or provide advice</h2>
        <br>
        <h2 style="text-align: center;font-size: 28px;">Please register with us and enter your details via the 
            <button mat-button class="mat-elevation-z8" routerLink="/myaccount" style="font-size: 24px;height:50px;background-color: white;">NGNF Dashboard</button></h2>
        <br>
    </div>
</mat-card>

