<mat-card>
    <mat-grid-list cols="8" rowHeight="50px" gutterSize="0px" [style.background]="'var(--tilecolour3)'">
  
      <mat-grid-tile [colspan]=8 [rowspan]=1><h1 style="color: var(--tiletxtcol3)">Get In Touch</h1></mat-grid-tile>
  
      <mat-grid-tile [colspan]=1 [rowspan]=1></mat-grid-tile>
      <mat-grid-tile [colspan]=6 [rowspan]=1>
        <h2 style="color: var(--tiletxtcol3)">If you want to know more feel free to call or email.</h2>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1></mat-grid-tile>
  
      <mat-grid-tile [colspan]=2 [rowspan]=1></mat-grid-tile>
      <mat-grid-tile [colspan]=4 [rowspan]=1>
        <h2 style="color: var(--tiletxtcol3)">Email: <a href="mailto:administration@ngnf.co.uk" target="_blank">administration@ngnf.co.uk</a></h2>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=2 [rowspan]=1></mat-grid-tile>
  
      <mat-grid-tile [colspan]=2 [rowspan]=1></mat-grid-tile>
      <mat-grid-tile [colspan]=4 [rowspan]=1>
        <h2 style="color: var(--tiletxtcol3)">Tel: 0800 689 1815</h2>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=2 [rowspan]=1></mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <br>
  