<mat-card-title style="text-align: center;"><h1>How it works</h1></mat-card-title>

<mat-grid-list cols="8" rowHeight="80px">
  <mat-grid-tile [colspan]=1 [rowspan]=1></mat-grid-tile>
  <mat-grid-tile [colspan]=6 [rowspan]=1>
    <h3>
      Current funding sources are subject to immense competition and it is proving more and more challenging to access them. It can be resource intensive for individuals and organisations who do not always have the capacity to meet the demand. We can provide the support and advice you need to give yourself the best chance of securing funding. Here is how it works!
    </h3>
  </mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1></mat-grid-tile>
</mat-grid-list>

<br>
<mat-grid-list cols="8" rowHeight="60px" gutterSize="1px">
  <mat-grid-tile [colspan]=2 [rowspan]=1></mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1><img src="../assets/images/tablet.webp"></mat-grid-tile>
  <mat-grid-tile [colspan]=3 [rowspan]=1><h3>You complete the online information form which can be accessed from the APPLY tab</h3></mat-grid-tile>
  <mat-grid-tile [colspan]=2 [rowspan]=1></mat-grid-tile>

  <mat-grid-tile [colspan]=2 [rowspan]=1></mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1><img width="30%" src="../assets/images/magnifyglass.webp"></mat-grid-tile>
  <mat-grid-tile [colspan]=3 [rowspan]=1><h3>We will review your application and confirm whether we can support your organisation</h3></mat-grid-tile>
  <mat-grid-tile [colspan]=2 [rowspan]=1></mat-grid-tile>

  <mat-grid-tile [colspan]=2 [rowspan]=1></mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1><img width="30%" src="../assets/images/loveagreement.webp"></mat-grid-tile>
  <mat-grid-tile [colspan]=3 [rowspan]=1><h3>If yes, we will send you our contractual terms to sign</h3></mat-grid-tile>
  <mat-grid-tile [colspan]=2 [rowspan]=1></mat-grid-tile>

  <mat-grid-tile [colspan]=2 [rowspan]=1></mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1><img width="30%" src="../assets/images/handsign.webp"></mat-grid-tile>
  <mat-grid-tile [colspan]=3 [rowspan]=1><h3>You sign and return</h3></mat-grid-tile>
  <mat-grid-tile [colspan]=2 [rowspan]=1></mat-grid-tile>

  <mat-grid-tile [colspan]=2 [rowspan]=1></mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1><img width="50%" src="../assets/images/deskworker.webp"></mat-grid-tile>
  <mat-grid-tile [colspan]=3 [rowspan]=1><h3>NGNF gets to work for your organisation</h3></mat-grid-tile>
  <mat-grid-tile [colspan]=2 [rowspan]=1></mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="8" rowHeight="100px">
  <mat-grid-tile [colspan]=1 [rowspan]=1></mat-grid-tile>
  <mat-grid-tile [colspan]=6 [rowspan]=1>
    <h3>We will support you throughout the duration of your grant application and will be available to assist you with any questions that may arise. We want to work with you to help you to overcome obstacles, allowing you the best opportunity to access appropriate funding streams. All we ask from you is that you supply us with the information required as quickly as possible</h3>
  </mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1></mat-grid-tile>

  <mat-grid-tile [colspan]=1 [rowspan]=1></mat-grid-tile>
  <mat-grid-tile [colspan]=6 [rowspan]=1>
    <h3>It is essential that you fill in your information form with as much detail as possible so we can get a feel and understanding of your organisations project and also that we have the relevant information required to make a successful application.</h3>
  </mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1></mat-grid-tile>

  <mat-grid-tile [colspan]=1 [rowspan]=1></mat-grid-tile>
  <mat-grid-tile [colspan]=6 [rowspan]=1>
    <h3>We can then focus on the project’s aims and define the outcomes – to make sure these fit the funding criteria. We will look at how to demonstrate your projects success and monitor and track the progress of your project.</h3>
  </mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1></mat-grid-tile>

  <mat-grid-tile [colspan]=1 [rowspan]=1></mat-grid-tile>
  <mat-grid-tile [colspan]=6 [rowspan]=1>
    <h3>Our services will help to significantly improve your chances of successfully obtaining funding by ensuring that your application aligns with the grant criteria.</h3>
  </mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1></mat-grid-tile>
</mat-grid-list>
