<mat-card>
    <mat-card-title style="text-align: center;"><h1>Successful Grants</h1></mat-card-title>
    <h2 style="text-align: center;">Celebrating the many people who have transformed their communities with the help of NGNF.</h2>
    <br>
    <mat-grid-list cols="8" rowHeight="150px" gutterSize="5px">
      <mat-grid-tile [colspan]=3 [rowspan]=1 [style.background]="'var(--tilecolour1)'" >
          <h1 style="color: var(--tiletxtcol1)">The Tie Partnership</h1></mat-grid-tile>
      <mat-grid-tile [colspan]=5 [rowspan]=2>
          <img height="100%" src="../../assets/images/succ_tiepartner.webp"></mat-grid-tile>
      <mat-grid-tile [colspan]=3 [rowspan]=1 [style.background]="'var(--tilecolour1)'">
          <h2 style="color: var(--tiletxtcol1)">Created in 2001, we worked with the company to acquire a substantial fund for a new bus</h2></mat-grid-tile>
      <mat-grid-tile [colspan]=5 [rowspan]=2>
          <img src="../../assets/images/succ_rawtruth.webp"></mat-grid-tile>
      <mat-grid-tile [colspan]=3 [rowspan]=1 [style.background]="'var(--tilecolour2)'">
          <h1 style="color: var(--tiletxtcol2)">The Raw Truth Initiative</h1></mat-grid-tile>
      <mat-grid-tile [colspan]=3 [rowspan]=1 [style.background]="'var(--tilecolour2)'">
          <h2 style="color: var(--tiletxtcol2)">Another example where NGNF were able to work hand in hand with this charitable organisation</h2></mat-grid-tile>
      <mat-grid-tile [colspan]=3 [rowspan]=1 [style.background]="'var(--tilecolour3)'">
          <h1 style="color: var(--tiletxtcol3)">Huddersfield Enterprise</h1></mat-grid-tile>
      <mat-grid-tile [colspan]=5 [rowspan]=2>
          <img src="../../assets/images/succ_huddent.webp"></mat-grid-tile>
      <mat-grid-tile [colspan]=3 [rowspan]=1 [style.background]="'var(--tilecolour3)'">
          <h2 style="color: var(--tiletxtcol3)">What great memories we have of our time with the Huddersfield Enterprise</h2></mat-grid-tile>
    </mat-grid-list>
  </mat-card>