<mat-card>
    <mat-card-title style="text-align: center;"><h2>{{ username }}'s Applications</h2></mat-card-title>
    
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="ApplicationId">
                <th mat-header-cell *matHeaderCellDef> App. Id </th>
                <td mat-cell *matCellDef="let element"> {{ element.ApplicationId }} </td>
            </ng-container>
        
            <!-- User Name -->
            <ng-container matColumnDef="User">
                <th mat-header-cell *matHeaderCellDef> User Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.User }} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="OrgName">
                <th mat-header-cell *matHeaderCellDef> Organisation Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.OrgName }} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="GenName">
                <th mat-header-cell *matHeaderCellDef> Project Name </th>
                <td mat-cell *matCellDef="let element"> {{element.GenName}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="GenStartDate">
                <th mat-header-cell *matHeaderCellDef> Start Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.GenStartDate }} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="InsertDateTime">
                <th mat-header-cell *matHeaderCellDef> Inserted </th>
                <td mat-cell *matCellDef="let element"> {{element.InsertDateTime}} </td>
            </ng-container>
        
            <ng-container matColumnDef="Submit">
                <th mat-header-cell *matHeaderCellDef>Submit?</th>
                <td mat-cell *matCellDef="let element"><button mat-raised-button *ngIf="element.Status=='New'" (click)="submitData(element)">Submit</button></td>
            </ng-container>
        
            <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef> Delete? </th>
                <td mat-cell *matCellDef="let element"><button mat-raised-button *ngIf="element.Status=='New'" (click)="deleteApp(element)">Delete</button></td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;" 
                (click)="selectApp(row)"
                (click)="selectedRowIndex = row"
                [ngClass]="{'selectedrow': row === selectedRowIndex}">
            </tr>
        </table>
        <table>
            <tr>
                <td><button mat-button class="mat-elevation-z8" (click)="insertApp()"
                    style="background-color: white; font-size: 16px; margin:5px;">New Application</button>
                </td>
                <td><mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator></td>
            </tr>
        </table>
      </div>

      <form #userForm="ngForm" class="mat-elevation-z8">
        <mat-tab-group [(selectedIndex)]=selectedIndex *ngIf="this.ShowDetail==true">
            <!-- Organisation Details Tab -->
            <mat-tab label="Organisational Details">
                <div class="form-group">
                    <table width=100%>
                        <tr> 
                            <td style="width: 20%;">Name of Organisation</td>
                            <td style="width: 40%;">
                                <input type="text" style="width: 80%" name="Orgname" class="form-control" [(ngModel)]="Org_model.OrgName" #name="ngModel">
                            </td>
                            <td style="width: 10%;">Type of Organisation</td>
                            <td>
                                <mat-form-field>
                                    <mat-select name="Orgtype" class="form-control" [(ngModel)]="Org_model.OrgType" #name="ngModel">
                                        <mat-option *ngFor="let OrgType of OrgTypes" [value]="OrgType.OrgType">
                                        {{OrgType.OrgTypeName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>Registered Address</td>
                            <td>
                                <input type="textarea" style="width: 90%" name="Orgaddress" class="form-control" [(ngModel)]="Org_model.OrgAddress" #name="ngModel">
                            </td>
                            <td>Organisation Email</td>
                            <td>
                                <input type="email" style="width: 80%" name="Orgemail" class="form-control" [(ngModel)]="Org_model.OrgEmail" #name="ngModel">
                            </td>
                        </tr>
                        <tr>
                            <td>Post Code</td>
                            <td>
                                <input type="text" name="Orgpostcode" class="form-control" [(ngModel)]="Org_model.OrgPostcode" #name="ngModel">
                            </td>
                            <td>Organisation Website</td>
                            <td>
                                <input type="url" style="width: 80%" name="Orgwebsite" class="form-control" [(ngModel)]="Org_model.OrgWebsite" #name="ngModel">
                            </td>
                        </tr>
                        <tr>
                            <td>When did your Organisation start?</td>
                            <td>
                                <input type="date" name="Orgstart_date" class="form-control" [(ngModel)]="Org_model.OrgStartDate" #name="ngModel">
                            </td>
                        </tr>
                        <tr>    
                            <td>If you are a charity, please provide your charity number</td>
                            <td>
                                <input type="number" name="Orgcharity_no" class="form-control" [(ngModel)]="Org_model.OrgCharityNo" #name="ngModel">
                            </td>
                            <td>Company Number</td>
                            <td>
                                <input type="number" name="Orgcompan_no" class="form-control" [(ngModel)]="Org_model.OrgCompanyNo" #name="ngModel">
                            </td>
                        </tr>
                    </table>
                    <br><br>
                    <mat-toolbar  class="mat-elevation-z8" style="background-color: var(--brandcolour);">
                        <span fxFlex></span>
                        <button mat-button class="mat-elevation-z8" (click)="selectedIndex = 1"
                            style="background-color: white;font-size: 16px;">Next >>></button>
                    </mat-toolbar>
                </div>
            </mat-tab>

            <!-- Contact Details Tab -->
            <mat-tab label="Contact Details">
                <div class="form-group">
                    <table width=100%>
                        <tr>
                            <td style="width: 25%;">Who will be the main contact for the application?</td>
                            <td style="width: 15%;">
                                <input type="text" name="Conname" style="width: 90%" class="form-control" [(ngModel)]="Con_model.ConName" #name="ngModel"
                                [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            </td>
                            <td style="width: 15%;">Position in Organisation</td>
                            <td>
                                <input type="email" name="Conposition" style="width: 90%" class="form-control" [(ngModel)]="Con_model.ConPosition" #name="ngModel">
                            </td>
                            <td style="width: 10%;">Email</td>
                            <td>
                                <input type="email" name="Conemail" style="width: 90%" class="form-control" [(ngModel)]="Con_model.ConEmail" #name="ngModel">
                            </td>
                        </tr>
                        <tr>
                            <td>Telephone Number</td>
                            <td>
                                <input type="tel" name="Conlandlineno" style="width: 90%" class="form-control" [(ngModel)]="Con_model.ConLandlineNo" #name="ngModel">
                            </td>
                            <td>Alternative Telephone Number</td>
                            <td>
                                <input type="tel" name="Conotherno" style="width: 90%" class="form-control" [(ngModel)]="Con_model.ConOtherNo" #name="ngModel">
                            </td>
                        </tr>
                        <tr>
                            <td>Who will be the 2nd contact for the application?</td>
                            <td>
                                <input type="text" name="Consenname" style="width: 90%" class="form-control" [(ngModel)]="Con_model.ConSenName" #name="ngModel">
                            </td>
                            <td>Position in Organisation</td>
                            <td>
                                <input type="text" name="Consenposition" style="width: 90%" class="form-control" [(ngModel)]="Con_model.ConSenPosition" #name="ngModel">
                            </td>
                            <td>Email</td>
                            <td>
                                <input type="email" name="Consenemail" style="width: 90%" class="form-control" [(ngModel)]="Con_model.ConSenEmail" #name="ngModel">
                            </td>
                        </tr>
                        <tr>
                            <td>Telephone Number</td>
                            <td>
                                <input type="tel" name="Consenlandlineno" style="width: 90%" class="form-control" [(ngModel)]="Con_model.ConSenLandlineNo" #name="ngModel">
                            </td>
                            <td>Alternative Telephone Number</td>
                            <td>
                                <input type="tel" name="Consenotherno" style="width: 90%" class="form-control" [(ngModel)]="Con_model.ConSenOtherNo" #name="ngModel">
                            </td>
                        </tr>
                    </table>
                    <br><br>
                    <mat-toolbar  class="mat-elevation-z8" style="background-color: var(--brandcolour);">
                        <span>
                            <button mat-button class="mat-elevation-z8" (click)="selectedIndex = 0"
                                style="background-color: white;font-size: 16px;"><<< Prev</button>
                        </span>
                        <span fxFlex></span>
                        <button mat-button class="mat-elevation-z8" (click)="selectedIndex = 2"
                            style="background-color: white;font-size: 16px;">Next >>></button>
                    </mat-toolbar>
                </div> 
            </mat-tab>
    
            <!-- General Project Information Tab -->
            <mat-tab label="General Project Information">
                <div class="form-group">
                    <table width=100%>
                        <tr>
                            <td style="width: 15%;">What is the name of your project?</td>
                            <td style="width: 30%;">
                                <input type="text" name="Genname" style="width: 90%;" class="form-control" [(ngModel)]="Gen_model.GenName" #name="ngModel">
                            </td>
                            <td style="width: 25%;">When do you think the start date of you project would be?</td>
                            <td>
                                <input type="date" name="Constartdate"  class="form-control" [(ngModel)]="Gen_model.GenStartDate" #name="ngModel">
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td style="width: 50%;">What do you want this project to achieve? 
                                <textarea id="Genachieve" rows="4" cols="50" style="width: 100%;height: 3cm;" name="Genachieve" class="form-control" [(ngModel)]="Gen_model.GenAchieve" #name="ngModel">
                                </textarea>
                            </td>
                            <td>What problems do you believe your project will address?
                                <textarea id="Genproblem" rows="4" cols="50" style="width: 100%;height: 3cm;" name="Genproblem" class="form-control" [(ngModel)]="Gen_model.GenProblem" #name="ngModel">
                                </textarea>
                            </td>
                        </tr>
                    </table>
                    <table width=100%>
                        <tr>
                            <td style="width: 25%;">Will your project involve working with children; young people under 18 or vulnerable adults?</td>
                            <td style="width: 20%;">
                                <input type="checkbox" name="Genvulnerables" class="form-control" [(ngModel)]="Gen_model.GenVulnerables" #name="ngModel">
                            </td>
                            <td style="width: 20%;">If yes, do you have safeguarding procedures in place?</td>
                            <td>
                                <input type="checkbox" name="Gensafeguards" class="form-control" [(ngModel)]="Gen_model.GenSafeguards" #name="ngModel">
                            </td>
                        </tr>
                    </table>
                    <br><br>
                    <mat-toolbar  class="mat-elevation-z8" style="background-color: var(--brandcolour);">
                        <span>
                            <button mat-button class="mat-elevation-z8" (click)="selectedIndex = 1"
                                style="background-color: white;font-size: 16px;"><<< Prev</button>
                        </span>
                        <span fxFlex></span>
                        <button mat-button class="mat-elevation-z8" (click)="selectedIndex = 3"
                            style="background-color: white;font-size: 16px;">Next >>></button>
                    </mat-toolbar>
                </div> 
            </mat-tab>
    
            <!-- Background Details Tab -->
            <mat-tab label="Background and Further project detail"> 
                <div class="form-group">
                    <table>
                        <tr>
                            <td>
                                Tell us why there is a need for your project?
                                <br>
                                <br>
                                • Please include any primary research you have performed to evidence the need for your project. This can be questionnaires, surveys, discussion groups, statistical info etc.
                                <textarea id="Bacneed" rows="4" cols="50" style="width: 100%;height: 2cm;" name="Bacneed" class="form-control" [(ngModel)]="Bac_model.BacNeed" #name="ngModel">
                                </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                • Who are you specifically targeting to help?
                                <textarea id="Bactarget" rows="4" cols="50" style="width: 100%;height: 2cm;" name="Bactarget" class="form-control" [(ngModel)]="Bac_model.BacTarget" #name="ngModel">
                                </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                • What activities will you undertake as part of this project?
                                <textarea id="Bacactivities" rows="4" cols="50" style="width: 100%;height: 2cm;" name="Bacactivities" class="form-control" [(ngModel)]="Bac_model.BacActivities" #name="ngModel">
                                </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                • Why do you consider that your organisation can deliver this project? 
                                <textarea id="Bacdeliver" rows="4" cols="50" style="width: 100%;height: 2cm;" name="Bacdeliver" class="form-control" [(ngModel)]="Bac_model.BacDeliver" #name="ngModel">
                                </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                • Will service users or volunteers be involved in the day to day running of the project? If so then please provide more details.
                                <textarea id="Bacusers" rows="4" cols="50" style="width: 100%;height: 2cm;" name="Bacusers" class="form-control" [(ngModel)]="Bac_model.BacUsers" #name="ngModel">
                                </textarea>
                            </td>
                        </tr>
                    </table>
                    <br><br>
                    <mat-toolbar  class="mat-elevation-z8" style="background-color: var(--brandcolour);">
                        <span>
                            <button mat-button class="mat-elevation-z8" (click)="selectedIndex = 2"
                                style="background-color: white;font-size: 16px;"><<< Prev</button>
                        </span>
                        <span fxFlex></span>
                        <button mat-button class="mat-elevation-z8" (click)="selectedIndex = 4"
                            style="background-color: white;font-size: 16px;">Next >>></button>
                    </mat-toolbar>
                </div> 
            </mat-tab>

            <!-- Financial Details Tab -->
            <mat-tab label="Financial Information">
                <div class="form-group">
                    <table style="width: 25%;">
                        • How much funding is needed?
                        <br>
                        <br>
                        <tr>
                            <td style="width: 70%;" >Capital</td>
                            <td>
                                <input type="text" style="width: 100%;" name="Fincapital" class="form-control" [(ngModel)]="Fin_model.FinCapital" #name="ngModel">
                            </td>
                        </tr>
                        <tr>
                            <td>Revenue</td>
                            <td>
                                <input type="text" style="width: 100%;" name="Finrevenue" class="form-control" [(ngModel)]="Fin_model.FinRevenue" #name="ngModel">
                            </td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>{{ +this.Fin_model.FinCapital + +this.Fin_model.FinRevenue }}</td>
                        </tr>
                        <br>
                        <tr>
                            <td>Do you have 2 years of audited accounts?</td>
                            <td>
                                <input type="checkbox" name="Finauditedaccounts" class="form-control" [(ngModel)]="Fin_model.FinAuditedAccounts" #name="ngModel">
                            </td>
                         </tr>

                    </table>
                    <br>
                    <mat-toolbar  class="mat-elevation-z8" style="background-color: var(--brandcolour);">
                        <span>
                            <button mat-button class="mat-elevation-z8" (click)="selectedIndex = 3"
                                style="background-color: white;font-size: 16px;"><<< Prev</button>
                        </span>
                        <span fxFlex></span>
                        <button mat-button class="mat-elevation-z8" (click)="selectedIndex = 5"
                            style="background-color: white;font-size: 16px;">Next >>></button>
                    </mat-toolbar>
                </div> 
            </mat-tab>
            
            <!-- Additional Information Tab -->
            <mat-tab label="Additional Information">
                <div class="form-group">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 50%;" >Additional Notes</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" style="width: 100%;" name="GenNotes" class="form-control" [(ngModel)]="Gen_model.GenNotes" #name="ngModel">
                            </td>
                        </tr>
                    </table>
                    <br>
                    <mat-toolbar  class="mat-elevation-z8" style="background-color: var(--brandcolour);">
                        <span>
                            <button mat-button class="mat-elevation-z8" (click)="selectedIndex = 4"
                                style="background-color: white;font-size: 16px;"><<< Prev</button>
                        </span>
                        <span fxFlex></span>
                        <button mat-button class="mat-elevation-z8" *ngIf="this.AppStatus=='New'" this.AppStatus (click)="saveData()"
                            style="background-color: white;font-size: 20px;">Save</button>
                    </mat-toolbar>
                </div> 
            </mat-tab>
    
        </mat-tab-group>
        <br>
    </form>
    
</mat-card>