<mat-card-title style="text-align: center;" >
    <h1>NGNF</h1></mat-card-title>
  <mat-grid-list cols="4" rowHeight="120px" gutterSize="5px">
    <mat-grid-tile [colspan]=1 [rowspan]=2>
      <img src="../../assets/images/ngnf_customer.webp"></mat-grid-tile>
    <mat-grid-tile [colspan]=2 [rowspan]=2>
      <h3>
        NGNF provides funding support and consultation to Community Organisations, Charities, Not For Profit Organisations and Social Enterprises. We have been in operation since 2012 and over this period we have maintained a high success rate in helping clients to achieve funding for their projects.
        <br>
        <br>
        We provide support to community groups and individuals to help them develop services which can have social, health and financial benefits for their communities. Regardless of the size of your organisation, whether you are well established or just setting up, we are sure NGNF can assist.
      </h3>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=2><img src="../../assets/images/ngnf_logo.webp"></mat-grid-tile>
  </mat-grid-list>
<br>