<mat-card>
    <h1 style="text-align: center;">Application Form</h1>
    <mat-card-title style="text-align: center;"><h2>To apply you should have:</h2></mat-card-title>
    <table style="text-align: center;">
        <tr style="text-align: left;">
            <td style="width: 30%;"></td>
            <td>
                <ul style="list-style-type:disc;">
                    <li>A clear idea and reason why you want to set up this project</li>
                    <li>Understanding of what activities you will need to deliver to meet your aims and objectives</li>
                    <li>A management committee of at least 3 people (chair, secretary, treasurer)</li>
                    <li>Ideally a name for your project</li>
                    <li>A constitution</li>
                    <li>Minutes of committee or group meetings</li>
                    <li>An organisation bank/building society account</li>
                </ul>
            </td>
        </tr>
    </table>
    <h3 style="text-align: center;">(If you do not yet have all of the above in place, then don’t worry. Please contact us as we may be able to assist or provide advice)</h3>
    <br>

    <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)">
    <mat-tab-group>
        <!-- Organisation Details Tab-->
        <mat-tab label="Organisational Details">
            <div class="form-group">
                <table width=100%>
                    <tr>
                        <td style="width: 10%;">Name</td>
                        <td style="width: 40%;">
                            <input type="text" name="Orgname" class="form-control" [(ngModel)]="Org_model.name" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">Name is required</p>
                            </div>
                        </td>
                        <td style="width: 10%;">Type of Organisation</td>
                        <td>
                            <select class="form-control" name="Ordtype" [(ngModel)]="OrgTypes">
                            <option value="">Select an organisation type</option>
                            <option *ngFor="let org of OrgTypes" [value]="org">
                            {{org}}
                            </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Registered Address</td>
                        <td>
                            <input type="text" style="width: 100%;height: 3cm" name="Orgaddress" class="form-control" [(ngModel)]="Org_model.address" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">Organisation Address is required</p>
                            </div>
                        </td>
                        <td>Charitable Organisation?</td>
                        <td>
                            <input type="text" name="Orgcharity" class="form-control" [(ngModel)]="Org_model.charity" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">Org Charity is required</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Post Code</td>
                        <td>
                            <input type="text" name="Orgpostcode" class="form-control" [(ngModel)]="Org_model.postcode" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">The Post Code is required</p>
                            </div>
                        </td>
                        <td>Charity Number</td>
                        <td>
                            <input type="text" name="Orgcharity_no" class="form-control" [(ngModel)]="Org_model.charity_no" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">Org Charity number is required</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>
                            <input type="text" name="Orgemail" class="form-control" [(ngModel)]="Org_model.email" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">Email is required</p>
                            </div>
                        </td>
                        <td>Organisation Start Date</td>
                        <td>
                            <input type="text" name="Orgstart_date" class="form-control" [(ngModel)]="Org_model.start_date" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">Org start date is required</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td>
                            <input type="text" name="Orgwebsite" class="form-control" [(ngModel)]="Org_model.website" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">Website is required</p>
                            </div>
                        </td>
                        <td>Is your organisation open to anyone?</td>
                        <td>
                            <input type="text" name="Orgopen" class="form-control" [(ngModel)]="Org_model.open" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">Org start date is required</p>
                            </div>
                        </td>
                    </tr>
                    <tr  style="width: 100%;">
                        <td>Additional Info</td>
                        <td>
                            <input type="text" style="width: 100%;height: 3cm" name="Orginfo" class="form-control" [(ngModel)]="Org_model.info" #name="ngModel">
                        </td>
                    </tr>
                </table>
            </div>
        </mat-tab>

        <!-- Contact Details Tab-->
        <mat-tab label="Contact Details">
            <div class="form-group">
                <table width=100%>
                    <tr>
                        <td style="width: 10%;">Contact Name</td>
                        <td style="width: 40%;">
                            <input type="text" name="Conname" class="form-control" [(ngModel)]="Con_model.name" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">Contact Name is required</p>
                            </div>
                        </td>
                        <td style="width: 10%;">Email</td>
                        <td>
                            <input type="text" name="Conemail" class="form-control" [(ngModel)]="Con_model.email" #name="ngModel">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%;">Contact Address</td>
                        <td>
                            <input style="width: 100%;height: 3cm" type="text" name="Conaddress" class="form-control" [(ngModel)]="Con_model.address" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">Contact Address is required</p>
                            </div>
                        </td>
                        <td style="width: 10%;">Previous Address</td>
                        <td>
                            <input style="width: 100%;height: 3cm" type="text" name="Conpreaddress" class="form-control" [(ngModel)]="Con_model.preaddress" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">Contact Previous Address is required</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%;">Land Line Number</td>
                        <td>
                            <input type="text" name="Conlandlineno" class="form-control" [(ngModel)]="Con_model.landlineno" #name="ngModel">
                        </td>
                        <td style="width: 10%;">Other Number</td>
                        <td>
                            <input type="text" name="Conotherno" class="form-control" [(ngModel)]="Con_model.otherno" #name="ngModel">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%;">D.O.B.</td>
                        <td>
                            <input type="text" name="Condob" class="form-control" [(ngModel)]="Con_model.dob" #name="ngModel">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%;">Senior Contact Name</td>
                        <td style="width: 40%;">
                            <input type="text" name="Consenname" class="form-control" [(ngModel)]="Con_model.senname" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">Senion Contact Name is required</p>
                            </div>
                        </td>
                        <td style="width: 10%;">Senior Contact Email</td>
                        <td>
                            <input type="text" name="Consenemail" class="form-control" [(ngModel)]="Con_model.senemail" #name="ngModel">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%;">Senior Contact Address</td>
                        <td>
                            <input style="width: 100%;height: 3cm" type="text" name="Consenaddress" class="form-control" [(ngModel)]="Con_model.senaddress" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">Senior Contact Address is required</p>
                            </div>
                        </td>
                        <td style="width: 10%;">Senior Previous Address</td>
                        <td>
                            <input style="width: 100%;height: 3cm" type="text" name="Consenpreaddress" class="form-control" [(ngModel)]="Con_model.senpreaddress" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">Senior Contact Previous Address is required</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%;">Senior Land Line Number</td>
                        <td>
                            <input type="text" name="Consenlandlineno" class="form-control" [(ngModel)]="Con_model.senlandlineno" #name="ngModel">
                        </td>
                        <td style="width: 10%;">Senior Other Number</td>
                        <td>
                            <input type="text" name="Consenotherno" class="form-control" [(ngModel)]="Con_model.senotherno" #name="ngModel">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%;">Senior D.O.B.</td>
                        <td>
                            <input type="text" name="Consendob" class="form-control" [(ngModel)]="Con_model.sendob" #name="ngModel">
                        </td>
                    </tr>
                </table>
            </div> 
        </mat-tab>

        <!-- General Project Information Tab-->
        <mat-tab label="General Project Information">
            <div class="form-group">
                <table width=100%>
                    <tr>
                        <td style="width: 10%;">Project Name</td>
                        <td style="width: 40%;">
                            <input type="text" name="Genname" class="form-control" [(ngModel)]="Gen_model.name" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">Project Name is required</p>
                            </div>
                        </td>
                        <td style="width: 10%;">Start Date</td>
                        <td>
                            <input type="text" name="Constartdate" class="form-control" [(ngModel)]="Gen_model.startdate" #name="ngModel">
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="width: 10%;">Project Achievements</td>
                        <td>
                            <input style="width: 100%;height: 4cm" type="text" name="Genachieve" class="form-control" [(ngModel)]="Gen_model.achieve" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">General Achievement is required</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%;">Project Problems</td>
                        <td>
                            <input style="width: 100%;height: 4cm" type="text" name="Genproblem" class="form-control" [(ngModel)]="Gen_model.problem" #name="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
                            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                                <p *ngIf="name.errors.required">General Problem data is required</p>
                            </div>
                        </td>
                    </tr>
                </table>
                <table width=100%>
                    <tr>
                        <td style="width: 30%;">Will your project involve working with children; young people under 18 or vulnerable adults?</td>
                        <td style="width: 20%;">
                            <input type="text" name="Genvulnerables" class="form-control" [(ngModel)]="Gen_model.vulnerables" #name="ngModel">
                        </td>
                        <td style="width: 30%;">If yes, do you have safeguarding procedures in place?</td>
                        <td>
                            <input type="text" name="Consafeguards" class="form-control" [(ngModel)]="Gen_model.safeguards" #name="ngModel">
                        </td>
                    </tr>
                </table>
            </div> 
        </mat-tab>

        <!-- Background Details Tab-->
        <mat-tab label="Background and Further project detail"> 
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            Tell us why there is a need for your project?
                            <br>
                            Please include any primary research you have performed to evidence the need for your project. This can be questionnaires, surveys, discussion groups, statistical info etc.
                            <input style="width: 100%;height: 4cm" type="text" name="Bacneed" class="form-control" [(ngModel)]="Bac_model.need" #name="ngModel">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            • Who are you specifically targeting?
                            <input style="width: 100%;height: 4cm" type="text" name="Bactarget" class="form-control" [(ngModel)]="Bac_model.target" #name="ngModel">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            What activities will you undertake as part of this project?
                            <input style="width: 100%;height: 4cm" type="text" name="Bacactivities" class="form-control" [(ngModel)]="Bac_model.activities" #name="ngModel">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Why do you consider that your organisation can deliver this project? 
                            <input style="width: 100%;height: 4cm" type="text" name="Bacdeliver" class="form-control" [(ngModel)]="Bac_model.deliver" #name="ngModel">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            • Will service users or volunteers be involved in the day to day running of the project? If so then please provide more details.
                            <input style="width: 100%;height: 4cm" type="text" name="Bacusers" class="form-control" [(ngModel)]="Bac_model.users" #name="ngModel">
                        </td>
                    </tr>
                </table>
            </div> 
        </mat-tab>

        <!-- Financial Details Tab-->
        <mat-tab label="Financial Information">
            Content 3
        </mat-tab>

    </mat-tab-group>
    <br>
    <br>
        <div class="form-group">
            <button class="btn btn-danger btn-block">Submit</button>
        </div>
    </form>
</mat-card>