<mat-toolbar  class="mat-elevation-z8" style="background-color: var(--brandcolour);">
    <span>
        <button mat-button class="mat-elevation-z8" routerLink="/" 
            style="background-color: white; font-size: 16px; margin:5px;">NGNF</button>
    </span>
    <span fxFlex></span>
    <button mat-button class="mat-elevation-z8" routerLink="/appReport"
        style="background-color: white; font-size: 16px; margin:5px;">Applications</button>

    <button mat-button class="mat-elevation-z8"  routerLink="/apply"
        style="background-color: white; font-size: 16px; margin:5px;">Apply</button>

</mat-toolbar>

