<mat-toolbar  class="mat-elevation-z8" style="background-color: var(--brandcolour);">
    <span>
        <button mat-button class="mat-elevation-z8" routerLink="/" 
            style="background-color: white; font-size: 16px; margin:5px;">NGNF</button>
    </span>
    
    <span fxFlex></span>

    <button mat-button class="mat-elevation-z8"  [matMenuTriggerFor]="adminmenu" *ngIf="globals.adminuser"
        style="background-color: white; font-size: 16px; margin:5px;">Admin</button>
        <mat-menu #adminmenu="matMenu">
            <button mat-menu-item routerLink="/userAdmin"
            style="background-color: white; font-size: 16px; margin:5px;">User Admin</button>

            <button mat-menu-item routerLink="/FPAdmin"
            style="background-color: white; font-size: 16px; margin:5px;">Fund Provider Admin</button>

        </mat-menu>

    <button mat-button class="mat-elevation-z8"  [matMenuTriggerFor]="appmenu" *ngIf="globals.staffuser"
        style="background-color: white; font-size: 16px; margin:5px;">Applications</button>
        <mat-menu #appmenu="matMenu">
            <button mat-menu-item routerLink="/appAdmin"
            style="background-color: white; font-size: 16px; margin:5px;">Application Admin</button>

            <button mat-menu-item routerLink="/appWorkbook"
            style="background-color: white; font-size: 16px; margin:5px;">Application Workbook</button>

            <button mat-menu-item routerLink="/appReport"
            style="background-color: white; font-size: 16px; margin:5px;">Proposal Library</button>

        </mat-menu>

    <button mat-button class="mat-elevation-z8" *ngIf="globals.loginbtn" routerLink="/login" routerLinkActive="active" 
        style="background-color: white; font-size: 16px; margin:5px;">Login</button>

    <button mat-button class="mat-elevation-z8" *ngIf="globals.logoutbtn" (click)="logout()" 
        style="background-color: white; font-size: 16px; margin:5px;">Logout</button>

    <button mat-button class="mat-elevation-z8" *ngIf="globals.loginbtn" routerLink="/registration" routerLinkActive="active" 
        style="background-color: white; font-size: 16px; margin:5px;">Register</button>

    <button mat-button class="mat-elevation-z8" *ngIf="globals.logoutbtn" routerLink="/myaccount" routerLinkActive="active" 
        style="background-color: white; font-size: 16px; margin:5px;">Dashboard</button>

</mat-toolbar>

