<mat-card>
    <mat-card-title style="text-align: center;"><h3><b>Fund Provider Admin</b></h3></mat-card-title>
    <div class="mat-elevation-z8">
        <table id="table1" mat-table [dataSource]="FPData">
            <!-- Fund Provider Code -->
            <ng-container matColumnDef="FundProviderCode">
            <th mat-header-cell *matHeaderCellDef style="width: 20%;">Code </th>
            <td mat-cell *matCellDef="let element"> {{ element.FundProviderCode }} </td>
            </ng-container>
    
            <!-- Name -->
            <ng-container matColumnDef="FundProviderName">
            <th mat-header-cell *matHeaderCellDef style="width: 60%;">Name</th>
            <td mat-cell *matCellDef="let element"> {{ element.FundProviderName }} </td>
            </ng-container>
    
            <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef style="width: 20%;">Delete?</th>
                <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="deleteFP(element)">Delete</button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="FPColumns"></tr>
            <tr mat-row class="table-row" *matRowDef="let row; columns: FPColumns;"
                        (click)="selectedFP = row"
                        [ngClass]="{'selectedrow': row === selectedFP}">
            </tr>
        </table>
        <br>
        <td><button mat-button class="mat-elevation-z8" (click)="addFundProvider()"
            style="background-color: white; font-size: 16px; margin:5px;">New Fund Provider</button>
        </td>
     </div>
    <br>
</mat-card>
